@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Luis Javiel Fortuna Uribe - <abbr title="Matricula">2014-2218</abbr> <br />
    Abel Feliz - <abbr title="Matricula">2014-1962</abbr> <br />
</address>